<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Review</h2>
    <form action="/details/<%= findId._id %>/more_details" method="POST">
        <input type="text" name="review" id="review" required>
        <button>submit</button>
    </form>
    <a href="/details/<%= findId._id %>/more_details">back</a>
</body>
</html>